#list-input-button {
  padding: 2px;
  display: flex;
  align-items: center;
  .list-input-icon {
    cursor: pointer;
    padding: 3px;
    font-size: 22px;
    color: #777777;
  }
}
#list-input-button:hover {
  background: rgb(219, 219, 219);
}

.delete-pop {
  cursor: pointer;
}
